.books {
    width: 100%;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: flex-start;
    margin: 20px 0px;
    padding-left: 20px;
    flex-wrap: wrap;
}

/* Book */
@import url("./book/book.css");

.delete-all {
    text-align: left;
    margin: 20px;
}

.delete-all input {
    height: 20px;
    width: 20px;
    transform: translateY(5px);
    margin: 0 15px;
}

.delete-all span {
    text-transform: uppercase;
    color: black;
    letter-spacing: 1.3px;
}

.delete-all button {
    border: 3px solid red;
    border-radius: 5px;
    padding: 0px 10px;
    color: red;
    text-transform: uppercase;
}

.filter-menu {
    width: 98%;
    min-height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 10px;
}

.filter-menu span {
    margin-right: 5px;
}

.filter-menu select, input {
    border: 1px solid #ccc;
    outline: none;
    height: 40px;
    padding: 0 5px;
}

.filter-menu input {
    flex: 1;
    margin: 0 10px;
}

.filter-menu button {
    background-color: #ccc;
    margin: 0px 10px;
    padding: 0px 10px;
    border-radius: 3px;
}

.more-books {
    text-align: center;
    margin-bottom: 20px;
}

.more-books button {
    border-radius: 5px;
    padding: 5px 10px;
    border: 3px solid #ccc;
}
