.not-found {
    width: 100%;
    min-height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found h1 {
    font-size: 100px;
    color: gray;
}

.not-found h3 {
    text-transform: uppercase;
    color: gray;
}